.heroBgStyle {
  &::after {
    content: "";
    width: 20rem;
    height: 20rem;
    background-color: #2a3e84;
    filter: blur(120px);
    position: absolute;
    top: -8rem;
    right: -8rem;
    border-radius: 50%;
    -webkit-filter: blur(120px);
    z-index: 0;
  }
}
.homeSecondSection {
  position: relative;
  z-index: 10;
  &::after {
    content: "";
    width: 20rem;
    height: 20rem;
    background-color: #2a3e84;
    filter: blur(120px);
    position: absolute;
    bottom: -8rem;
    left: -8rem;
    border-radius: 50%;
    -webkit-filter: blur(120px);
    z-index: 0;
  }
}
