@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-arrow::before {
  display: none !important;
}

.slick-list {
  margin: 0 0px;
}
.slick-slide > div {
  padding: 0 30px 0 0;
}

div::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0);
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  background: rgba(26, 26, 26, 0.728);
}

@font-face {
  font-family: "TTTravelsBlack";
  src: url("./assets/fonts/TTTravels-Black.ttf");
}

@font-face {
  font-family: "TTTravelsBlackItalic";
  src: url("./assets/fonts/TTTravels-BlackItalic.ttf");
}

@font-face {
  font-family: "TTTravelsBold";
  src: url("./assets/fonts/TTTravels-Bold.ttf");
}

@font-face {
  font-family: "TTTravelsBoldItalic";
  src: url("./assets/fonts/TTTravels-BoldItalic.ttf");
}

@font-face {
  font-family: "TTTravelsDemiBold";
  src: url("./assets/fonts/TTTravels-DemiBold.ttf");
}

@font-face {
  font-family: "TTTravelsDemiBoldItalic";
  src: url("./assets/fonts/TTTravels-DemiBoldItalic.ttf");
}

@font-face {
  font-family: "TTTravelsExtraBold";
  src: url("./assets/fonts/TTTravels-ExtraBold.ttf");
}

@font-face {
  font-family: "TTTravelsExtraBoldItalic";
  src: url("./assets/fonts/TTTravels-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "TTTravelsExtraLight";
  src: url("./assets/fonts/TTTravels-ExtraLight.ttf");
}

@font-face {
  font-family: "TTTravelsExtraLightItalic";
  src: url("./assets/fonts/TTTravels-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "TTTravelsItalic";
  src: url("./assets/fonts/TTTravels-Italic.ttf");
}

@font-face {
  font-family: "TTTravelsLight";
  src: url("./assets/fonts/TTTravels-Light.ttf");
}

@font-face {
  font-family: "TTTravelsLightItalic";
  src: url("./assets/fonts/TTTravels-LightItalic.ttf");
}

@font-face {
  font-family: "TTTravelsMedium";
  src: url("./assets/fonts/TTTravels-Medium.ttf");
}

@font-face {
  font-family: "TTTravelsMediumItalic";
  src: url("./assets/fonts/TTTravels-MediumItalic.ttf");
}

@font-face {
  font-family: "TTTravelsRegular";
  src: url("./assets/fonts/TTTravels-Regular.ttf");
}

@font-face {
  font-family: "TTTravelsThin";
  src: url("./assets/fonts/TTTravels-Thin.ttf");
}

@font-face {
  font-family: "TTTravelsThinItalic";
  src: url("./assets/fonts/TTTravels-ThinItalic.ttf");
}
